<ul class="flex items-center text-sm font-medium h-full">

    {% if user.is_authenticated %}
        <li class="nav_link"><a href="{% url "article:create" %}">Create Article</a></li>
        <li class="nav_link"><a href="{% url "user:profile" user.pk %}">Profile</a></li>
        <li class="nav_link"><a href="{% url "user:departments" %}" class="text-gray-700 font-medium">My Department</a></li>
        
        <li class="nav_link"><a href="{% url "user:logout" %}">Log out</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url "user:login" %}">Log in</a> </li>
        <li class="nav_link"><a href="{% url "user:signup" %}">Sign up</a> </li>
    {% endif %}
</ul>